@import 'bootstrap/dist/css/bootstrap.min.css';
body {
  display: grid;
  height: 100vh;
  background: #F5F5F5;
}
.form-control:focus{
  z-index: 5;
}
#main-container{
  place-items: center center;
}
#sign-in-form{
  max-width: 330px;
}
.bootstrap-logo{
  width: 72px;
  height: 72px;
}
